.water_item_actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.water_amount {
  color: var(--dark-blue);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.water_time {
  color: var(--placeholder);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.water_item_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.water_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  white-space: nowrap;
  border-radius: 15px;
  padding: 18px 14px;
  width: 149px;
  height: 74px;

  backdrop-filter: blur(16.799999237060547px);
}

.glass {
  white-space: nowrap;
}

.delete_btn {
  border: none;
  background-color: inherit;
}

.edit_btn {
  border: none;
  background-color: inherit;
}

.pencil,
.trash {
  fill: white;
  stroke: #323f47;
  transition: stroke var(--Animation_cubic);
}

.edit_btn:active,
.edit_btn:hover .pencil {
  stroke: var(--light-green);
}

.delete_btn:active,
.delete_btn:hover .trash {
  stroke: var(--light-green);
}

@media screen and (min-width: 768px) {
  .water_item_actions {
    gap: 14px;
  }
  .water_item {
    gap: 20px;
    width: 192px;
    height: 86px;
    padding: 20px;
  }
  .glass {
    width: 44px;
    height: 45px;
  }
  .pencil {
    width: 16px;
    height: 16px;
  }
  .trash {
    width: 16px;
    height: 16px;
  }
  .water_amount {
    line-height: 149%;
  }
  .water_time {
    line-height: 187%;
  }
}
