.container {
  background-color: var(--white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 225px;
  width: 198px;
  height: 70px;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0px 4px 50px 0px #0000001a;
}

.text {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--dark-blue);
}

.backBar {
  position: relative;
  background-color: var(--light-gray);
  width: 174px;
  height: 6px;
  border-radius: 9px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.frontBar {
  position: absolute;
  height: 100%;
  width: 20px;
  border-radius: 9px;
  background-color: var(--light-green);
}

.frontBarCircle {
  position: absolute;
  top: 50%;
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
  border: solid var(--light-green) 1px;
  transform: translateY(-50%);
}

.percentage {
  list-style: none;
  display: flex;
  gap: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.stablePercent {
  color: var(--black);
  opacity: 60%;
  font-size: 10px;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.floatPercent {
  display: inline-block;
  position: absolute;
  top: -12px;
  width: fit-content;
  font-size: 8px;
  color: var(--light-green);
  line-height: 1;
  padding-bottom: 4px;
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 20px;
    top: 322px;
    width: 295px;
    height: 106px;
  }

  .backBar {
    width: 255px;
    height: 8px;
  }

  .text {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 6px;
  }

  .stablePercent {
    font-size: 12px;
    line-height: 1.87;
  }

  .floatPercent {
    top: -18px;
    font-size: 10px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    top: 450px;
    width: 295px;
    height: 106px;
  }
}
