.container {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.salutation {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--dark-blue);
  margin-bottom: 20px;
}

.userName {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .salutation {
    font-size: 36px;
    line-height: 1.06;
    margin-bottom: 0;
  }

  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
