.modalLogoutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modLogout {
  text-align: center;
  padding-bottom: 16px;
}

.modalLogoutBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.modalLogoutBtnOut {
  display: flex;
  padding: 14px 126px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--Accent, #9be1a0);
}

.modalLogoutBtnCancel {
  display: flex;
  padding: 14px 126px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #f0eff4;
}