.water-list-container {
  overflow-x: auto;
}

/* Кастомная стилизация полосы прокрутки */
.water_list_container::-webkit-scrollbar {
  height: 6px; /* Высота скролла */
}
.water_list_container::-webkit-scrollbar-track {
  background: #e0e0e0; /* Цвет заднего фона скролла */
  border-radius: 3px;
}

.water_list_container::-webkit-scrollbar-thumb {
  background-color: #2f3e46; /* Цвет заполненной части скролла */
  border-radius: 3px;
}

.water_list {
  display: flex;
  gap: 10px;
  padding: 10px;
  white-space: nowrap; /* Для горизонтального скролла */
}
