.container {
  border-radius: 30px;
  background: var(--light-gray);
  padding: 40px 20px;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px 32px 35px 32px;
    width: 704px;
    height: 738px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 32px 32px 33px 32px;
    width: 672px;
    height: 736px;
    margin: 0;
  }
}
