.wrapper {
  padding: 14px 20px;
  border-radius: 30px;
  max-height: 46px;
  max-width: 140px;
  border: none;
  cursor: pointer;
  background-color: var(--dark-blue);
  position: relative;
  margin: auto;
}

.add_water_btn {
  display: flex;
  align-items: center;
  background: none;
  gap: 10px;
}

.add_water_btn_disabled {
  display: flex;
  align-items: center;
  background: none;
  gap: 10px;
}

.text {
  font-family: 'Poppins', sans-serif;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--white);
  text-align: center;
  white-space: nowrap;
  transition: color var(--Animation_cubic);
}

.wrapper:disabled .add_water_btn_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.wrapper:disabled:hover .text {
  color: var(--white);
}

.wrapper:disabled:hover .icon {
  stroke: var(--white);
}

.wrapper:hover .text {
  color: var(--light-green-hover);
  transition: color var(--Animation_cubic);
}

.wrapper:hover .icon {
  stroke: var(--light-green-hover);
  transition: stroke var(--Animation_cubic);
}

.wrapper:focus .text {
  color: var(--light-green-hover);
  transition: color var(--Animation_cubic);
}

.wrapper:focus .icon {
  stroke: var(--light-green-hover);
  transition: stroke var(--Animation_cubic);
}

.icon {
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-radius: 50px;
  stroke: var(--white);
  transition: stroke var(--Animation_cubic);
  box-sizing: unset;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 18px 30px;
    font-size: 16px;
    line-height: 1.5;
    max-height: 60px;
    max-width: 178px;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-height: 60px;
    max-width: 178px;
    margin: auto;
  }
}
