p,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 16px;
}

.formSection {
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  background: var(--light-gray);
  padding: 24px 16px;
  min-height: 780px;
}

.title {
  color: var(--dark-blue);
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.32px;
  padding-top: 126px;
}

.wrapperText {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.text {
  color: var(--text-span);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.14px;
}

.link {
  color: var(--black);
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
}
