.logo {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-blue);
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.24px;
  }
}
