.title {
  color: var(--dark-blue);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 1.14;
  }
}
