.welcomeSection {
  padding: 24px 16px;
  min-height: 411px;
  background: var(--light-gray);
  border-radius: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .welcomeSection {
    padding: 32px;
    min-height: 498px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomeSection {
    min-height: 736px;
  }
}

.welcomeContainer {
  margin-top: 74px;
}

@media screen and (min-width: 768px) {
  .welcomeContainer {
    margin-top: 50px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomeContainer {
    margin-top: 132px;
  }
}

.welcomeTopText {
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .welcomeTopText {
    font-size: 16px;
    line-height: 1.5;
  }
}

.welcomeTitle {
  color: var(--dark-blue);
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.01em;
  align-self: stretch;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .welcomeTitle {
    font-size: 64px;
    line-height: 1.09;
    width: 547px;
  }
}
@media screen and (min-width: 1440px) {
  .welcomeTitle {
    font-size: 80px;
    line-height: 0.95;
    letter-spacing: -0.01em;
  }
}

.welcomeLinks {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .welcomeLinks {
    gap: 16px;
  }
}

.linkSignUp {
  color: var(--dark-blue);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01;
  border-radius: 30px;
  background-color: var(--light-green);
  padding: 14px 19px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkSignUp:hover {
  background-color: var(--light-green-hover);
}

.linkSignUp:active {
  background-color: inherit;
  color: #bcbcbc;
}

.linkSignIn {
  color: var(--dark-blue);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
  border-radius: 30px;
  border: 1px solid var(--dark-blue);
  padding: 14px 28px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkSignIn:hover {
  color: var(--light-green);
  border: 1px solid var(--light-green);
}

.linkSignIn:active {
  color: #bcbcbc;
  border: 1px solid #bcbcbc;
}

@media screen and (min-width: 768px) {
  .linkSignUp,
  .linkSignIn {
    min-width: 135px;
    padding: 18px 40px;
    font-size: 16px;
    line-height: 1.5;
  }
}
