.calendar {
  display: flex;
  flex-wrap: wrap;

  column-gap: 17px;
  row-gap: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 295px;

  margin: 0 auto;
}

@media only screen and (min-width: 360px) {
  ul {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .calendar {
    column-gap: 48px;
    row-gap: 15px;
  }

  ul {
    width: 640px;
  }
}

@media only screen and (min-width: 1440px) {
  .calendar {
    column-gap: 43px;
  }

  ul {
    width: 608px;
  }
}
