.pageContentWrapper {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .pageContentWrapper {
    margin-top: 32px;
    margin-bottom: 32px;

    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .pageContentWrapper {
    justify-content: center;
    flex-direction: row;
    gap: 32px;
  }
}
