.dailyInfoLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 100% высоты контейнера */
  width: 100%; /* 100% ширины контейнера */
  border-color: #9be1a0;
}
