.container {
  position: relative;
  background-color: var(--light-green);
  max-width: 100%;
  border-radius: 30px;
  padding-top: 50px;
}

.trackerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trackerLogo {
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 16px;
}

.btn {
  position: absolute;
  top: 337px;
  right: 16px;
  display: block;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 343px;
    height: 415px;
  }
  .trackerImage {
    width: 262px;
    height: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: inline-block;
    width: 704px;
    height: 578px;
    padding-top: 69px;
  }
  .trackerImage {
    width: 374px;
    height: 477px;
  }
  .trackerLogo {
    top: 32px;
    left: 32px;
  }

  .btn {
    top: 454px;
    left: 494px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 672px;
    height: 736px;
    padding-top: 92px;
  }
  .trackerImage {
    width: 472px;
    height: 604px;
  }
  .btn {
    top: 612px;
    left: 462px;
  }
}
