.deleteWaterModalContent {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modDelete {
  text-align: center;
  font-size: 20px;
}

.qModDel {
  font-size: 14px;
}

.deleteWaterModalBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.deleteButtonModal {
  display: flex;
  padding: 14px 129px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 30px;
  font-weight: 700;
  background: var(--Accent, #9be1a0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deleteButtonModal:hover {
  background: var(--Accent, #87d28d);
}

.deleteButtonModal:active {
  color: #bcbcbc;

  background: inherit;
}

.cancelButtonModal {
  display: flex;
  padding: 14px 126px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 30px;
  background: #f0eff4;
  font-weight: 700;
  color: #323f474d;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cancelButtonModal:hover {
  color: #323f47;
  background: #f4f4f6;
}

@media only screen and (min-width: 767.97px) {
  .deleteWaterModalContent {
    gap: 24px;
    min-width: 435px;
  }

  .titleBlock {
    gap: 24px;
  }

  .deleteWaterModalBtn {
    flex-direction: row;
    gap: 10px;
  }

  .deleteButtonModal {
    padding: 18px 67px;
    width: 100%;
    min-width: 200px;
  }

  .cancelButtonModal {
    padding: 18px 59px;
    width: 100%;
    min-width: 200px;
  }

  .modDelete {
    font-size: 28px;
  }

  .qModDel {
    font-size: 18px;
  }
}
