.deleteWaterModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.deleteWaterModalBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.deleteButtonModal {
  display: flex;
  padding: 14px 129px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--Accent, #9be1a0);
}

.cancelButtonModal {
  display: flex;
  padding: 14px 126px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #f0eff4;
}