.calender_pag_div,
.pag_element {
  display: flex;
  align-items: center;
}

.calender_pag_div {
  justify-content: space-between;
  margin-bottom: 24px;
}

.word_month {
  margin: 0;

  height: 24px;
  font-size: 20px;

  font-weight: 400;
}

.icon_arrow_calendar_left {
  transform: rotate(90deg);
}

.icon_arrow_calendar_right {
  transform: rotate(-90deg);
}

.icon_arrow_calendar_right,
.icon_arrow_calendar_left {
  fill: var(--dark-blue);
  stroke: var(--dark-blue);
  padding: 0;
  margin: 0;

  width: 40px;
  height: 20px;
  transition: fill var(--Animation_cubic), stroke var(--Animation_cubic);
}

.button_back_month,
.button_next_month {
  border: none;
  background: none;
  padding: 0;
  width: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_next_month:active .icon_arrow_calendar_right,
.button_next_month:hover .icon_arrow_calendar_right {
  fill: var(--light-green);
  stroke: var(--light-green);
}

.button_back_month:active .icon_arrow_calendar_left,
.button_back_month:hover .icon_arrow_calendar_left {
  fill: var(--light-green);
  stroke: var(--light-green);
}

.current_month_year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;

  height: 18px;
  font-size: 12px;
}

.show_info_button {
  border: none;
  background: none;

  padding: 0;

  margin-left: 0px;
}

.icon_pie_chart {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 360px) {
  .show_info_button {
    margin-left: 16px;
  }

  .word_month {
    font-weight: 800;
  }

  .current_month_year {
    width: 130px;
    font-size: 14px;
    font-weight: 800;
  }
}

@media only screen and (min-width: 768px) {
  .word_month {
    height: 32px;
    font-weight: 800;
    font-size: 28px;
  }

  .current_month_year {
    width: 150px;

    height: 24px;
    font-size: 16px;
    font-weight: 800;
  }

  .show_info_button {
    margin-left: 20px;
  }

  .icon_pie_chart {
    width: 24px;
    height: 24px;
  }
}
