:root {
  --Animation_cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  margin: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

/* Mobile/Main Text */
.main-text-with-opacity {
  color: var(--Opacity_60);
}

/* Mobile/Small Text */
.small-text {
  font-size: 14px;
}
/* Mobile */
.container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
}

/* animate li grow*/
@media only screen and (min-width: 1280px) {
  .hvr-grow {
    /* display: inline-block; */
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
